@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #F1D8BC;
}

body {
    background-image: url(../pictures/wine-corks.png);
    height: 1000px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 0;
}

h1, h2 {
    font-family: 'Varela Round', sans-serif;
}

.header {
    height: 90px;
    width: 400px;
    margin-top: 50px;
    background: #F1D8BC;
    border: solid 1px #707070;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.quiz-box {
    height: 475px;
    width: 400px;
    margin-top: 50px;
    background: #F1D8BC;
    border: solid 1px #707070;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start-quiz {
    height: 150px;
    width: 350px;
    background: white;
    border: solid 1px #707070;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 25px;
}

.option {
    height: 50px;
    width: 350px;
    background: white;
    border: solid 1px #707070;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 25px;
    cursor: pointer;
}

button {
    height: 25px;
    width: 75px;
    background: #707070;
    border-radius: 25px;
    text-align: center;
    color: #F1D8BC;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.ques-count {
    margin-top: 20px;
}

footer {
    height: 50px;
}

.fas {
    font-size: 4em;
    margin-top: 40px;
}

p {
    font-size: 20px;
    line-height: 28px;
    padding: 30px;
}

.results > h2 {
    font-size: 30px;
    margin-top: 40px;
}